@page "/Categories"
@using BudgetBuddy.Lib.DAL
@using BudgetBuddy.Models
@using BudgetBuddy.Services
@inject BudgetService BudgetService
@inject CategoriesManager CategoryService

<div class="container mt-5">
    <h1 class="mb-4">Kategorier</h1>
    

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h4>L채gg till ny kategori</h4>
        </div>
        <div class="card-body">
            <EditForm Model="@_newCategory" OnValidSubmit="AddCategory" FormName="BudgetForm">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="name" class="form-label">Kategori</label>
                    <InputText id="name" class="form-control" @bind-Value="_newCategory.Name" />
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Budgetgr채ns</label>
                    <InputNumber id="budgetlimit" class="form-control" @bind-Value="_newCategory.BudgetLimit" />
                </div>

                <button type="submit" class="btn btn-primary">L채gg till</button>
            </EditForm>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-success text-white">
            <h4>Budgetposter</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Kategori</th>
                    <th>Budgetgr채ns</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in _categoryList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.BudgetLimit kr</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private Category _newCategory = new();
    private List<Category> _categoryList = new();
    
    protected override async Task OnInitializedAsync()
    {
        _categoryList = await CategoryService.GetCategoriesAsync();
    }
    
    private async Task AddCategory()
    {
        await CategoryService.CreateCategoryAsync(_newCategory);
        _categoryList = await CategoryService.GetCategoriesAsync();
       
       _newCategory = new Category
       {
           Name = string.Empty,
           BudgetLimit = 0
       };
    }
}
