@page "/"

<PageTitle>Start</PageTitle>

<h1>Välkommen till BudgetBuddy</h1>  
<br/>
<h4>Här kan du se dina inkomster och utgifter, allt för att förenkla din ekonomi.</h4>
<br/>
<br/>

<img src="banknotes-7850299_640.jpg"/>



@code
{
    
}
